# macOs
**/.DS_Store

# vscode
.vscode

# git
.git
.gitignore

# node
node_modules

# docker
.dockerignore
**/Dockerfile
**/Dockerfile.base
.env.example
.env

# nyc
**/coverage
**/.nyc_output

# others
README.md
Makefile