# macOs
**/.DS_Store

# node
**/node_modules/

# test coverage
**/coverage
**/.nyc_output

# docker
.docker-data
**/.env

# typescript genereated
**/generated/js
**/dist/**/*.js
**/dist/**/*.js.map
**/dist/**/*.d.ts
