# macOs
**/.DS_Store

# node
**/node_modules/

# yarn
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
**/yarn-error.log*


# turborepo
**/.turbo

# docker
.docker-data
**/.env

# typescript genereated
**/generated/js
**/dist/**/*.js
**/dist/**/*.js.map
**/dist/**/*.d.ts
